<h1>Astronauts</h1>
<br>
<% @astronauts.each do |astronaut| %> 
  <h3><%= astronaut.name %></h3>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
  <p>Total Time in Space: <%= astronaut.total_time_in_space %> days</p>
<% end %>
<br>
<p>Average Age: <%= Astronaut.average_age %></p>
<br>
<h1>Missions</h1>
<br>
<% @missions.each do |mission| %> 
  <h3><%= mission.title %></h3>
<% end %>